@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
    overflow-y: hidden;
}

.section::before{
    content: '';
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 65%;
    left: 55%;
    border-radius: 50%;
}
.section::after{
    content: '';
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    bottom:  -6%;
    left: 25%;
    z-index: -1;
}
.card{
    width: 350px;
    height: 450px;
    background-color: #F3F3F3B5;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    margin: 15% auto;
}
.batteryShape{
    display: flex;
    justify-content: center;
    min-height: 450px;
    flex-direction: column;
    align-items: center;
}
.batteryBorder{
    border: 3px solid black;
    width: 180px;
    height: 80px;
    border-radius: 10px;
    position: relative;
}
.percetange{
    background: linear-gradient(to left, #626474, #004e92);
    width: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    border-radius: 5px;
}
.percent{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 10px;
}
.isCharging{
    margin: 40px 0 0;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}